<section class="wrapper bg-light">
  <div class="container py-14 py-md-17">
    <div class="row text-center">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="fs-15 text-uppercase text-primary mb-3">What We Do?</h2>
        <h3 class="display-4 mb-10 px-xl-10">The service we offer is specifically designed to meet your needs.</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="position-relative mb-14 mb-md-17">
      <div class="shape rounded-circle bg-soft-primary rellax w-16 h-16" data-rellax-speed="1" style="bottom: -0.5rem; right: -2.5rem; z-index: 0;"></div>
      <div class="shape bg-dot primary rellax w-16 h-17" data-rellax-speed="1" style="top: -0.5rem; left: -2.5rem; z-index: 0;"></div>
      <div class="row gx-md-5 gy-5 text-center">
        <div class="col-md-6 col-xl-3">
          <app-card iconClass="uil uil-phone-volume" title="24/7 Support" content="Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras justo." linkText="Learn More"></app-card>
        </div>

        <div class="col-md-6 col-xl-3">
          <app-card iconClass="uil uil-shield-exclamation" title="Secure Payments" content="Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras justo." linkText="Learn More"></app-card>
        </div>

        <div class="col-md-6 col-xl-3">
          <app-card iconClass="uil uil-laptop-cloud" title="Daily Updates" content="Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras justo." linkText="Learn More"></app-card>
        </div>

        <div class="col-md-6 col-xl-3">
          <app-card iconClass="uil uil-chart-line" title="Market Research" content="Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus cras justo." linkText="Learn More"></app-card>
        </div>
      </div>

      <!--/.row -->
    </div>
    <!-- /.position-relative -->
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center mb-14 mb-md-17">
      <div class="col-lg-7">
        <app-figure [src]="'./assets/img/illustrations/i11.png'" [srcset]="'./assets/img/illustrations/i11@2x.png 2x'"></app-figure>
      </div>
      <!--/column -->
      <div class="col-lg-5">
        <h2 class="fs-15 text-uppercase text-primary mb-3">Why Choose Us?</h2>
        <h3 class="display-4 mb-7">We bring solutions to make life easier for our clients.</h3>
        <app-accordion></app-accordion>
        <!--/.accordion -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center mb-md-15">
      <div class="col-lg-7 order-lg-2">
        <app-figure [class]="'w-auto'" [src]="'./assets/img/illustrations/i17.png'" [srcset]="'./assets/img/illustrations/i17@2x.png 2x'"></app-figure>
      </div>
      <!--/column -->
      <div class="col-lg-5">
        <h2 class="fs-15 text-uppercase text-primary mb-3">Our Solutions</h2>
        <h3 class="display-4 mb-5">We make your spending stress-free for you to have the perfect control.</h3>
        <p class="mb-6">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus.</p>
        <app-checklist></app-checklist>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
