<div class="accordion accordion-wrapper" id="accordionExample">
  <div class="card plain accordion-item">
    <div class="card-header" id="headingOne">
      <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Professional Design </button>
    </div>
    <!--/.card-header -->
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="card-body">
        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel.</p>
      </div>
      <!--/.card-body -->
    </div>
    <!--/.accordion-collapse -->
  </div>
  <!--/.accordion-item -->
  <div class="card plain accordion-item">
    <div class="card-header" id="headingTwo">
      <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Top-Notch Support </button>
    </div>
    <!--/.card-header -->
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="card-body">
        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel.</p>
      </div>
      <!--/.card-body -->
    </div>
    <!--/.accordion-collapse -->
  </div>
  <!--/.accordion-item -->
  <div class="card plain accordion-item">
    <div class="card-header" id="headingThree">
      <button class="collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Header and Slider Options </button>
    </div>
    <!--/.card-header -->
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="card-body">
        <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel.</p>
      </div>
      <!--/.card-body -->
    </div>
    <!--/.accordion-collapse -->
  </div>
  <!--/.accordion-item -->
</div>
