<section class="wrapper bg-gray">
  <div class="container py-14 pt-md-0 pb-md-16">
    <app-widget></app-widget>
    <!-- /.row -->
    <div class="row text-center">
      <div class="col-lg-9 col-xl-8 col-xxl-7 mx-auto">
        <h2 class="fs-15 text-uppercase text-primary mb-3">Case Studies</h2>
        <h3 class="display-4 mb-6">Check out some of our awesome projects with creative ideas and great design.</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->

    <div class="position-relative">
      <div class="shape bg-dot primary rellax w-17 h-20" data-rellax-speed="1" style="top: 0; left: -1.7rem;"></div>
      <app-carousel></app-carousel>
      <!-- /.owl-carousel -->
    </div>

    <!--/.position-relative -->
  </div>
  <!-- /.container -->
</section>
