<div class="container mt-4">
  <div style="width: 100%; margin: 0 auto;" class="hide-arrows">
    <carousel [itemsPerSlide]="3" [singleSlideOffset]="true">
      <slide *ngFor="let item of items">
        <div class="item">
          <div class="item-inner">
            <article>
              <div class="card">
                <figure class="card-img-top overlay overlay-1 hover-scale"><a href="#"> <img [src]="item.image" alt="" /></a>
                  <figcaption>
                    <h5 class="from-top mb-0">Read More</h5>
                  </figcaption>
                </figure>
                <div class="card-body">
                  <div class="post-header">
                    <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="./blog-post.html">{{ item.title }}</a></h2>
                  </div>
                  <!-- /.post-header -->
                  <div class="post-content">
                    <p>{{ item.content }}</p>
                  </div>
                  <!-- /.post-content -->
                </div>
                <!--/.card-body -->
                <div class="card-footer">
                  <ul class="post-meta d-flex mb-0">
                    <li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{ item.date }}</span></li>
                    <li class="post-comments"><a href="#"><i class="uil uil-file-alt fs-15"></i>{{ item.category }}</a></li>
                  </ul>
                  <!-- /.post-meta -->
                </div>
                <!-- /.card-footer -->
              </div>
              <!-- /.card -->
            </article>
            <!-- /article -->
          </div>
          <!-- /.item-inner -->
        </div>
      </slide>
    </carousel>
  </div>
</div>
